@import "./reset.css";
@import "./variables.scss";


@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');



body, html, #root {
    margin: 0;
    padding: 0;
    font-family: $base-font, "monospace";
    background: #F6F8FF;
    overflow-x: hidden;
    height: 100%;

    * {
        font-family: $base-font, "monospace";
    }
}


.highlight {
    background: yellow;
    color: black;
}

@import "./darktheme.scss";

@import "./mobile.scss";
@import "./tablet.scss";
@import "./desktop.scss";

@media only screen 
and (min-device-width: 1350px) and (min-width : 1350px){

    .app-container { 
        margin: 5em 22% 5em 22%;
    }
}

@media only screen 
and (min-device-width: 1800px) and (min-width : 1800px){

    .app-container { 
        margin: 5em 25% 5em 25%;
    }
}

@media only screen 
and (min-device-width: 2200px) and (min-width : 2200px){

    .app-container { 
        margin: 5em 30% 5em 30%;
    }
}
