@import "./variables.scss";

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3), (max-device-width : 667px) {
    
    .app-container {

        margin: 1em 1em;
        
        h1 {
            font-size: 26px;
            font-weight: 700;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
        }

        p, a {
            font-size: 13px;
            font-weight: 400;
        }


        .app-menu-container {
            .app-menu {
                display: flex;
                flex-flow: row;
                align-items: center;
                padding: 1em 0em;

                .app-menu-brand {
                    flex: 50%;
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    h1 {
                        color: #2B3442;
                        font-weight: 700;
                    }
                }

                .app-menu-theme-selector {
                    flex: 50%;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-end;
                    color: #4B6A9B;
                    font-weight: 700;
                    
                    p { 
                        height: 100%;
                        margin: 0em 1em 0em 0em;
                        font-weight: 700;
                    }
                    
                    .app-menu-selector {

                        img { 
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        .app-search-container {
        
            .app-search {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;

                background: white;
                height: 60px;
                border-radius: 15px;
                //box-shadow: 5px 5px 15px -8px #4B6A9B;
                box-shadow: rgba(75, 105, 155, .5) 0px 5px 15px;

                form {
                    display: flex;
                    flex-flow: row;
                    flex: 1;
                    justify-content: center;
                    align-items: center;
                    
                    .app-search-glass {
                        padding-left: 1em;
                        

                        img { 
                            width: 100%;
                            height: 100%;
                        }
                    }
                
                    .app-search-text {
                        flex: 1;
                        margin-left: .5em;
                        
                        input {
                            width: 95%;
                            border: none;
                            font-size: 13px;
                            height: 100%;
                            letter-spacing: -.5px;
                        }
    
                        input::placeholder {
                            color: rgba(75, 106, 155, .7);
                        }
    
                        input:focus {
                            border: none;
                            outline: none;
                            font-size: 13px;
                            color: black;
                        }
                    }
                }
                

                .app-search-button {
                    justify-self: flex-end;
                    padding-right: .5em;

                    button {
                        background: #0079FF;
                        color: white;
                        padding: 1em 1em;
                        border: none;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
        }

        .app-profile-container {
            background: white;
            padding: 2em 1em;
            border-radius: 15px;
            box-shadow: rgba(75, 105, 155, .5) 0px 5px 15px;

            .app-profile-info {
                display: flex;
                flex-flow: row;
                

                .app-profile-info-avatar {
                    margin: 0em 1em 0em 0em;

                    width: 70px;
                    height: auto;
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 1000px;
                    }
                }

                .app-profile-info-text {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;

                    a {
                        color: #0079FF;
                    }

                    p {
                        color: #697C9A;
                    }
                }
            }

            .app-profile-lorem-ipsum {

                p {
                    color: #4B6A9B;
                    line-height: 1.5em;

                }
            }

            .app-profile-stats-wrapper {
                display: flex;
                flex-flow: row;
                justify-content: center;

                background: #F6F8FF;

                padding: 1.5em 0em;
                border-radius: 15px;

                .app-profile-stat {
                    font-size: 11px;
                    text-align: center;

                    p:nth-child(1) {
                        color: #4B6A9B;
                        margin-bottom: 1em;
                    }
                    p:nth-child(2) {
                        color: #2B3442;
                        font-weight: 700;
                    }
                }

                .app-profile-stat-mid {
                    margin: 0em 2em;
                }
            }

            .app-profile-social-not-available {
                opacity: .5;
            }

            .app-profile-social-wrapper {
                
                .app-profile-social {
                    display: flex;
                    flex-flow: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: #4B6A9B;
                    padding: .5em 0em;

                    .app-profile-social-img {
                        width: 10%;
                    }

                    .app-profile-social-text {
                        flex: 1;
                    }
                }
            }
        }
    }
}